ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
h1.main-title {
	text-align: center; 
	margin-bottom: 100px;
}
.light-autocomplete-list ul {
	width: 100%;
	background-color: #34495E;
	top: 0px;
}
.light-autocomplete-element {
	height: 50px;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;
	color: #FFFFFF;
} 
.light-autocomplete-element.selected {
	border: 2px solid #212121;
	background-color: #3a3f45;
}